body,
input {
  color: #2f2f2f;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  word-spacing: 2px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
span {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

a,
a * {
  color: #0fb8b8;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

h1,
h1 * {
  font-size: 40px;
  font-weight: 900;
  line-height: 1.188;
}

h2,
h2 * {
  font-size: 28px;
  line-height: 1.167;
}

h3,
h3 * {
  font-size: 24px;
  line-height: 1.3;
}

p,
p *,
li,
li * {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.786;
}

small,
small * {
  font-size: 16px;
  line-height: 1.786;
}

label,
label * {
  font-size: 16px;
  line-height: 1.786;
}